<% @profile.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<h2>Meu perfil</h2>

<p>
  <dt><%= Profile.human_attribute_name(:user) %></dt>
  <dd><%= @profile.user.email %></dd>
</p>

<%= form_with model: @profile, local: true do |f| %>
  <div class='col-xs-3'>
    <div class='form-group'>
      <%= f.label :full_name %>
      <%= f.text_field :full_name, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :chosen_name %>
      <%= f.text_field :chosen_name, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :birthday %>
      <%= f.date_field :birthday, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :work_address %>
      <%= f.text_field :work_address, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :position %>
      <%= f.text_field :position, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :sector %>
      <%= f.text_field :sector, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label :department_id %>
      <%= f.collection_select :department_id, @department, :id, :name, {}, class: 'form-control' %>
    </div>
    <div>
      <%= f.submit 'Atualizar', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>