<h2>Vendedor</h2>

<dl>
  <% if @profile.chosen_name.present? %>
    <dt><%= Profile.human_attribute_name(:chosen_name) %></dt>
    <dd><%= @profile.chosen_name %></dd>
  <% end %>
  <dt><%= Profile.human_attribute_name(:full_name) %></dt>
  <dd><%= @profile.full_name %></dd>
  <dt><%= Profile.human_attribute_name(:user) %></dt>
  <dd><%= @profile.user.email %></dd>
  <dt><%= Profile.human_attribute_name(:birthday) %></dt>
  <dd><%= l @profile.birthday %></dd>
  <dt><%= Profile.human_attribute_name(:work_address) %></dt>
  <dd><%= @profile.work_address %></dd>
  <dt><%= Profile.human_attribute_name(:position) %></dt>
  <dd><%= @profile.position %></dd>
  <% if @profile.sector.present? %>
    <dt><%= Profile.human_attribute_name(:sector) %></dt>
    <dd><%= @profile.sector %></dd>
  <% end %>
  <dt><%= Profile.human_attribute_name(:department) %></dt>
  <dd><%= @profile.department.name %></dd>
</dl>

<%= form_with url: search_profile_path, method: :get, local: true do |f| %>
  <%= f.label :q, 'Busca de produto' %>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>

<% @products.each do |product| %>
  <% if product.profile.user != current_user %>
    <%= link_to image_tag(product.images.first), product %>
    <%= link_to product.name, product %>
  <% end %>
<% end %>

<% if @products.empty? %>
    <div>Nenhum produto disponível<div>
<% end %>