<h2><%= @product_subcategory.name %></h2>

<%= form_with url: search_product_subcategory_path, method: :get, local: true do |f| %>
  <%= f.label :q, 'Busca de produto' %>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>

<h3>Produtos</h3>

<% @products.each do |product| %>
  <% if product.profile.user != current_user %>
    <%= link_to image_tag(product.images.first), product %>
    <%= link_to product.name, product %>
  <% end %>
<% end %>

<% if @products.empty? %>
    <div>Nenhum produto disponível<div>
<% end %>