<h1>MarketPlace</h1>

<% if user_signed_in? %>
  <% if current_user.profile.blank? %>
    <%= link_to 'Meu perfil', new_profile_path %>
  <% else %>
    <%= link_to 'Meu perfil', edit_profile_path(@profile = current_user.profile) %>
  <% end %>
  <%= link_to 'Cadastrar produto', new_product_path %>
  <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
  <h2><%= current_user.company.name %></h2>

  <h3>Categorias</h3>

  <% @product_categories.each do |product_category| %>
    <%= link_to product_category.name, product_category %>
  <% end %>

  <% if @product_categories.empty? %>
    <div>Nenhuma categoria cadastrada<div>
  <% end %>

  <h3><%= link_to 'Vendedores', profiles_path %></h3>
<% else %>
  <%= link_to 'Criar conta', new_user_registration_path %>
  <%= link_to 'Entrar', new_user_session_path %>
<% end %>