<% if @purchased_products.present? %>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.iniciada? && purchased_product.product.profile == current_user.profile %>
      <h4>Venda aguardando confirmação:</h4>
      <%= purchased_product.product.name %>    
    <% end %>
    <% if purchased_product.iniciada? && purchased_product.profile == current_user.profile %>
      <h4>Compra aguardando confirmação do vendedor:</h4>
      <%= purchased_product.product.name %>    
    <% end %>
    <% if purchased_product.andamento? && purchased_product.product.profile == current_user.profile %>
      <h4>Venda em negociação:</h4>
      <%= purchased_product.product.name %>    
    <% end %>
    <% if purchased_product.andamento? && purchased_product.profile == current_user.profile %>
      <h4>Compra em negociação:</h4>
      <%= purchased_product.product.name %>    
    <% end %>
  <% end %>
<% end %>

<h1>MarketPlace</h1>

<% if user_signed_in? %>
  <% if current_user.profile.blank? %>
    <%= link_to 'Meu perfil', new_profile_path %>
  <% else %>
    <%= link_to 'Meu perfil', edit_profile_path(@profile = current_user.profile) %>
  <% end %>
  <%= link_to 'Cadastrar produto', new_product_path %>
  <%= link_to 'Meus produtos', products_path %>
  <%= link_to 'Vendas', sell_purchased_products_path %>
  <%= link_to 'Compras', buy_purchased_products_path %>
  <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
  <h2><%= current_user.company.name %></h2>

  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.label :q, 'Busca de produto' %>
    <%= f.text_field :q %>
    <%= f.submit 'Buscar' %>
  <% end %>
  
  <h3>Categorias</h3>

  <% @product_categories.each do |product_category| %>
    <%= link_to product_category.name, product_category %>
  <% end %>

  <% if @product_categories.empty? %>
    <div>Nenhuma categoria cadastrada<div>
  <% end %>

  <h3><%= link_to 'Vendedores', profiles_path %></h3>

  <h3>Produtos</h3>

  <% @products.each do |product| %>
    <% if product.profile.user != current_user %>
      <%= link_to image_tag(product.images.first), product %>
      <%= link_to product.name, product %>
    <% end %>
  <% end %>

  <% if @products.empty? %>
    <div>Nenhum produto disponível<div>
  <% end %>
<% else %>
  <%= link_to 'Criar conta', new_user_registration_path %>
  <%= link_to 'Entrar', new_user_session_path %>
<% end %>