<h1>Compras</h1>

<% if @purchased_products.present? %>
  <h2>Compras aguardando confirmação do vendedor</h2>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.iniciada? %>
      <%= render partial: 'purchased_product', locals: { purchased_product: purchased_product } %>          
    <% end %>
  <% end %>

  <h2>Compras recusadas</h2>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.recusada? %>
      <%= render partial: 'purchased_product', locals: { purchased_product: purchased_product } %>          
    <% end %>
  <% end %>

  <h2>Compras em negociação</h2>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.andamento? %>
      <%= render partial: 'purchased_product', locals: { purchased_product: purchased_product } %>          
    <% end %>
  <% end %>

  <h2>Compras canceladas</h2>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.cancelada? %>
      <%= render partial: 'purchased_product', locals: { purchased_product: purchased_product } %>          
    <% end %>
  <% end %>

  <h2>Compras concluídas</h2>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.finalizada? %>
      <%= render partial: 'purchased_product', locals: { purchased_product: purchased_product } %>          
    <% end %>
  <% end %>
<% end %>