<h2>Compras</h2>

<% if @purchased_products.present? %>
  <h3>Compras aguardando confirmação do vendedor</h3>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.iniciada? %>
      <%= render partial: 'purchased_product', locals: { purchased_product: purchased_product } %>          
    <% end %>
  <% end %>
  <h3>Compras em negociação</h3>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.andamento? %>
      <%= render partial: 'purchased_product', locals: { purchased_product: purchased_product } %>          
    <% end %>
  <% end %>
  <h3>Compras concluídas</h3>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.finalizada? %>
      <%= render partial: 'purchased_product', locals: { purchased_product: purchased_product } %>          
    <% end %>
  <% end %>
  <h3>Compras canceladas</h3>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.cancelada? %>
      <%= render partial: 'purchased_product', locals: { purchased_product: purchased_product } %>          
    <% end %>
  <% end %>
  <h3>Compras recusadas</h3>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.recusada? %>
      <%= render partial: 'purchased_product', locals: { purchased_product: purchased_product } %>          
    <% end %>
  <% end %>
<% end %>