 <h1>Vendas</h1>

<% if @purchased_products.present? %>
  <h2>Vendas aguardando confirmação</h2>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.iniciada? %>
      <%= render partial: 'selled_product', locals: { purchased_product: purchased_product } %>          
    <% end %>
  <% end %>
  <h2>Vendas recusadas</h2>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.recusada? %>
      <%= render partial: 'selled_product', locals: { purchased_product: purchased_product } %>           
    <% end %>
  <% end %>
  <h2>Vendas em negociação</h2>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.andamento? %>
      <%= render partial: 'selled_product', locals: { purchased_product: purchased_product } %>           
    <% end %>
  <% end %>
  <h2>Vendas canceladas</h2>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.cancelada? %>
      <%= render partial: 'selled_product', locals: { purchased_product: purchased_product } %>           
    <% end %>
  <% end %>
  <h2>Vendas concluídas</h2>
  <% @purchased_products.each do |purchased_product| %>
    <% if purchased_product.finalizada? %>
      <%= render partial: 'selled_product', locals: { purchased_product: purchased_product } %>           
    <% end %>
  <% end %>
<% end %>