<h2>Dados da negociação</h2>

<dl>
  <dt><%= PurchasedProduct.human_attribute_name(:profile) %></dt>
  <% if @purchased_product.profile.chosen_name.present? %>
    <dd><%= @purchased_product.profile.chosen_name %></dd>
  <% else %>
    <dd><%= @purchased_product.profile.full_name %></dd>
  <% end %>
  <dt><%= PurchasedProduct.human_attribute_name(:total_quantity) %></dt>
  <dd><%= @purchased_product.total_quantity %></dd>
  <dt><%= PurchasedProduct.human_attribute_name(:initial_value) %></dt>
  <dd><%= number_to_currency @purchased_product.initial_value %></dd>
  <dt><%= PurchasedProduct.human_attribute_name(:start_date) %></dt>
  <dd><%= l @purchased_product.start_date %></dd>
</dl>

<% if @purchased_product.andamento? %>
  
  <%= render 'negotiation' %>

  <h3>Enviar mensagem:</h3>
  <%= form_with(model: [ @purchased_product, @purchased_product.negotiations.build ], local: true) do |f| %>
    <p>
      <%= f.label :negotiation_message %>
      <%= f.text_field :negotiation_message %>
    </p>
    <p>
      <%= f.submit 'Enviar mensagem' %>
    </p>
  <% end %>
<% end %>

<% if @purchased_product.iniciada? %>
  <% if current_user == @product.profile.user  %>
    <h3>Aprovar venda</h3>
    <%= link_to 'Recusar venda', refuse_product_purchased_product_path(@product, @purchased_product), method: :post %>
    <%= link_to 'Confirmar venda', confirm_product_purchased_product_path(@product, @purchased_product), method: :post %>
  <% end %>
  <% if current_user == @purchased_product.profile.user  %>
    <h3>Aguardando aprovação do vendedor</h3>
  <% end %>
<% end %>

<% if @purchased_product.recusada? %>
  <% if current_user == @product.profile.user %>
    <h3>Venda recusada</h3>
  <% end %>
  <% if current_user == @purchased_product.profile.user %>
    <h3>Compra recusada</h3>
  <% end %>
  
  <%= render 'end_date' %>

  <%= render 'answer_question' %>
<% end %>

<% if @purchased_product.andamento? && current_user == @product.profile.user %>
  <h3>Cancelar venda</h3>
  <%= link_to 'Cancelar venda', cancel_product_purchased_product_path(@product, @purchased_product), method: :post %>
  <h3>Concluir venda</h3>
  <%= form_with(model: [ @product, @purchased_product ], url: conclude_product_purchased_product_path, local: true, method: :post) do |f| %>
    <p>
      <%= f.label :freight_cost %>
      <%= f.number_field :freight_cost %>
    </p>
    <p>
      <%= f.label :discount %>
      <%= f.number_field :discount %>
    </p>
    <p>
      <%= f.submit 'Concluir venda' %>
    </p>
  <% end %>
<% end %>

<% if @purchased_product.cancelada? %>
  <% if current_user == @product.profile.user %>
    <h3>Venda cancelada</h3>
  <% end %>
  <% if current_user == @purchased_product.profile.user %>
    <h3>Compra cancelada</h3>
  <% end %>

  <%= render 'end_date' %>

  <%= render 'negotiation' %>

  <%= render 'answer_question' %>
<% end %>

<% if @purchased_product.finalizada? %>
  <% if current_user == @product.profile.user %>
    <h3>Venda concluída</h3>
  <% end %>
  <% if current_user == @purchased_product.profile.user %>
    <h3>Compra concluída</h3>
  <% end %>

  <div><%= render 'end_date' %></div>

  <div>
    <%= PurchasedProduct.human_attribute_name(:freight_cost) %>
    <%= number_to_currency @purchased_product.freight_cost %>
  </div>
  <div>
    <%= PurchasedProduct.human_attribute_name(:discount) %>
    <%= number_to_currency @purchased_product.discount %>
  </div>
  <div>
    <%= PurchasedProduct.human_attribute_name(:final_value) %>
    <%= number_to_currency @purchased_product.final_value %>
  </div>
  
  <%= render 'negotiation' %>

  <%= render 'answer_question' %>
<% end %>

<h1><%= @product.name %></h1>

<dl>
  <%= render 'products/product' %>
</dl>

<%= render 'products/image' %>