<h2><%= @product_category.name %></h2>

<%= form_with url: search_product_category_path, method: :get, local: true do |f| %>
  <%= f.label :q, 'Busca de produto' %>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>

<h3>Subcategorias</h3>

<% @product_category.product_subcategories.each do |product_subcategory| %>
  <%= link_to product_subcategory.name, product_subcategory %>
<% end %>

<% if @product_category.product_subcategories.empty? %>
  <h5>Nenhuma subcategoria cadastrada</h5>
<% end %>

<h3>Produtos</h3>

<% @products.each do |product| %>
  <% if product.profile.user != current_user %>
    <%= link_to image_tag(product.images.first), product %>
    <%= link_to product.name, product %>
  <% end %>
<% end %>

<% if @products.empty? %>
    <div>Nenhum produto disponível</div>
<% end %>