<h2><%= @product_category.name %></h2>

<%= form_with url: search_product_category_path, method: :get, local: true do |f| %>
  <div class='form-group'>
    <div>
      <%= f.label :q, 'Busca de produto' %>
    </div>
    <div class='col-xs-10'>
      <%= f.text_field :q, class: 'form-control' %>
    </div>
    <div>
      <%= f.submit 'Buscar', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<h3>Subcategorias</h3>

<% @product_category.product_subcategories.each do |product_subcategory| %>
  <% if product_subcategory == @product_category.product_subcategories.last %>
    <%= link_to product_subcategory.name, product_subcategory %>
  <% else %>
    <%= link_to "#{product_subcategory.name} |", product_subcategory %>
  <% end %>
<% end %>

<% if @product_category.product_subcategories.empty? %>
  <h5>Nenhuma subcategoria cadastrada</h5>
<% end %>

<h3>Produtos</h3>

<% @products.each do |product| %>
  <% if product.profile.user != current_user && !product.suspended? %>
    <div class='image_list'>
      <%= link_to product.name, product %><br>
      <%= link_to image_tag(product.images.first), product %><br>
      <%= "Preço: #{number_to_currency product.price}" %>      
    </div>
  <% end %>
<% end %>

<% if @products.empty? %>
    <div>Nenhum produto disponível</div>
<% end %>