<h2><%= @product.name %></h2>

<dl>
  <%= render 'product' %>
  <dt><%= Product.human_attribute_name(:price) %></dt>
  <dd><%= number_to_currency @product.price %></dd>
  <dt><%= Product.human_attribute_name(:quantity) %></dt>
  <dd><%= @product.quantity %></dd>
  <dt><%= Product.human_attribute_name(:status) %></dt>
  <dd><%= @product.status.capitalize %></dd>
</dl>

<%= render 'image' %>

<% if @product.profile.user != current_user %>
  <h2>Efetuar compra</h2>
  <%= form_with(model: [ @product, @product.purchased_products.build ], local: true) do |f| %>
    <p>
      <%= f.label :total_quantity %>
      <%= f.number_field :total_quantity, max: @product.quantity, min: 1 %>
    </p>
    <p>
      <%= f.submit 'Comprar' %>
    </p>
  <% end %>
<% end %>

<h2>Perguntas</h2>
<% @product.questions.each do |question| %>
  <div>
    <h3>Pergunta</h3>
    <strong>Nome:</strong>
    <% if question.profile.chosen_name.blank? %>
      <%= question.profile.full_name %>  
    <% else %>  
      <%= question.profile.chosen_name %>
    <% end %>
  </div>
  <div>
    <strong>Departamento:</strong> 
    <%= question.profile.department.name %>
  </div>
  <div>
    <strong>Dúvida:</strong> 
    <%= question.question_message %>
  </div>

  <% if question.answer %>
    <div>
      <h3>Resposta</h3>
      <strong>Nome:</strong>
      <% if @product.profile.chosen_name.blank? %>
        <%= @product.profile.full_name %>  
      <% else %>  
        <%= @product.profile.chosen_name %>
      <% end %>
    </div>
    <div>
      <strong>Departamento:</strong> 
      <%= @product.profile.department.name %>
    </div>
    <div>
      <strong>Resposta:</strong> 
      <%= question.answer.answer_message %>
    </div>  
  <% end %>
<% end %>

<% if @product.profile.user != current_user && current_user.profile.present? %>
  <h2>Adicionar pergunta:</h2>
  <%= form_with(model: [ @product, @product.questions.build ], local: true) do |f| %>
    <p>
      <%= f.label :question_message %>
      <%= f.text_field :question_message %>
    </p>
    <p>
      <%= f.submit 'Enviar pergunta' %>
    </p>
  <% end %>
<% end %>

<% if @product.profile.user == current_user && @questions.present? %>
  <h2>Adicionar resposta:</h2>
  <%= form_with(model: [ @product, @answer], local: true) do |f| %>
    <p>
      <%= f.label :question_id, 'Pergunta realizada' %>
      <%= f.collection_select :question_id, @questions, :id, :question_message %>
    </p>
    <p>
      <%= f.label :answer_message, 'Resposta' %>
      <%= f.text_field :answer_message %>
    </p>
    <p>
      <%= f.submit 'Enviar resposta' %>
    </p>
  <% end %>
<% end %>