<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1><%= link_to 'MarketPlace', root_path %></h1>

    <% if user_signed_in? %>
      <h2><%= current_user.company.name %></h2>
      <% if current_user.profile.blank? %>
        <%= link_to 'Meu perfil', new_profile_path %>
      <% else %>
        <%= link_to 'Meu perfil', edit_profile_path(@profile = current_user.profile) %>
      <% end %>
      <%= link_to 'Cadastrar produto', new_product_path %>
      <%= link_to 'Meus produtos', products_path %>
      <%= link_to 'Vendas', sell_purchased_products_path %>
      <%= link_to 'Compras', buy_purchased_products_path %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    <% end %>
  </header>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
