<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <% if user_signed_in? %>
          <div class="navbar-header">
            <%= link_to "MarketPlace - #{current_user.company.name}", root_path, class: 'navbar-brand' %>
          </div>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Cadastrar produto', new_product_path %></li>
            <li><%= link_to 'Meus produtos', products_path %></li>
            <li><%= link_to 'Vendas', sell_purchased_products_path %></li>
            <li><%= link_to 'Compras', buy_purchased_products_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.profile.blank? %>
              <li><%= link_to 'Meu perfil', new_profile_path %></li>
            <% else %>
              <li><%= link_to 'Meu perfil', edit_profile_path(@profile = current_user.profile) %></li>
            <% end %>
            <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <div class="navbar-header">
            <%= link_to 'MarketPlace' , root_path, class: 'navbar-brand' %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Criar conta', new_user_registration_path %></li>
            <li><%= link_to 'Entre', new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </nav>
  </header>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
